@model ReporteTransaccionesDetalladas
@{
    ViewData["Title"] = "Movimientos Cuenta";
}

<div class="container">
    <h1 class="text-center mb-4">Movimientos @ViewBag.Cuenta</h1>

    <h4 class="text-center mb-4">
        <a asp-route-mes="@ViewBag.mesAnterior" asp-route-año="@ViewBag.añoAnterior" class="btn btn-secondary">
            <i class="bi-chevron-left"></i>
        </a>
        @Model.FechaInicio.ToString("MMM")-@Model.FechaInicio.Year
        <a asp-route-mes="@ViewBag.mesPosterior" asp-route-año="@ViewBag.añoPosterior" class="btn btn-secondary">
            <i class="bi-chevron-right"></i>
        </a>
    </h4>

    <div class="row mb-3">
        <div class="col-md-4">
            <div class="card bg-dark text-white">
                <div class="card-header">
                    <h5 class="card-title mb-0">Depósitos</h5>
                </div>
                <div class="card-body">
                    <p class="card-text text-success">@Model.BalanceDepósitos.ToString("N")</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card bg-dark text-white">
                <div class="card-header">
                    <h5 class="card-title mb-0">Retiros</h5>
                </div>
                <div class="card-body">
                    <p class="card-text text-danger">@Model.BalanceRetiros.ToString("N")</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card bg-dark text-white">
                <div class="card-header">
                    <h5 class="card-title mb-0">Total</h5>
                </div>
                <div class="card-body">
                    <p class="card-text">@Model.Total.ToString("N")</p>
                </div>
            </div>
        </div>
    </div>
</div>


@if (Model.transaccionesAgrupadas.Count() == 0)
{
    <div class="no-data-message">
        <h5>No hay datos que mostrar</h5>
    </div>
}else
{
    <table class="table table-dark">


        <thead>
            <tr>
                <th>Fecha</th>
                <th>Categoría</th>
                <th>Cuenta</th>
                <th>Descripción</th>
                <th>Depósitos</th>
                <th>Retiros</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var transaccionAgrupada in Model.transaccionesAgrupadas)
            {
                <tr>
                    <td>
                        @transaccionAgrupada.FechaTransaccion.Day
                        <span class="badge badge-secondary">@transaccionAgrupada.FechaTransaccion.ToString("ddd")</span>
                    </td>
                    <td ></td>
                    <td ></td>
                    <td></td>
                    <td></td>
                    <td></td>
                     @* <td class="activo">@transaccionAgrupada.BalanceDepositos.ToString("N")</td>
                    <td class="pasivo">@transaccionAgrupada.BalanceRetiros.ToString("N")</td> *@ 
                </tr>

                @foreach (var transaccion in transaccionAgrupada.transacciones)
                {
                    <tr style="vertical-align:middle">
                        <td>
                            <a asp-controller="transacciones" asp-action="Editar" asp-route-id="@transaccion.Id" asp-route-urlretorno="@ViewBag.urlRetorno">
                                <i class="bi-pencil" style="color: white;"></i>
                            </a>
                        </td>
                        <td>@transaccion.Categoria</td>
                        <td>@transaccion.Cuenta</td>
                        <td>@transaccion.Descripcion</td>
                        <td class="activo">
                            @(transaccion.TipoOperacionId==TipoOperaciones.Ingreso? transaccion.Monto.ToString("N"):null)</td>
                        <td class="pasivo">@(transaccion.TipoOperacionId == TipoOperaciones.Gasto ? transaccion.Monto.ToString("N") : null)</td>

                    </tr>
                }
            }
        </tbody>
    </table>
}

